const version = '1.2.0';
const apiUrls = {
  production: 'http://api.pma2020.org',
  staging: 'http://api-staging.pma2020.org',
  development: 'http://10.253.151.184:5000'  // Should try to make static across multiple devleopment environments
};
const envSrc = {
  developmentAll: {
    api_url: apiUrls['development'],
    environment: 'development',
    version: version
  },
  developmentWithProductionApi: {
    api_url: apiUrls['production'],
    environment: 'development',
    version: version
  },
  developmentWithStagingApi: {
    api_url: apiUrls['staging'],
    environment: 'development',
    version: version
  },
  productionAll: {
    api_url: apiUrls['production'],
    environment: 'production',
    version: version
  },
  productionWithStagingApi: {
    api_url: apiUrls['staging'],
    environment: 'production',
    version: version
  },
  stagingAll: {
    api_url: apiUrls['staging'],
    environment: 'staging',
    version: version
  },
  stagingWithProductionApi: {
    api_url: apiUrls['production'],
    environment: 'staging',
    version: version
  },
};

const env = envSrc.developmentWithProductionApi;

export default env;
