const version = '1.2.0';
const env_src = {
  production: {
    api_url: 'http://api.pma2020.org',
    environment: 'production',
    version: version
  },
  production2: {
    api_url: 'https://pma-api.herokuapp.com/',
    environment: 'production',
    version: version
  },
  staging: {
    api_url: 'http://api-staging.pma2020.org',
    environment: 'staging',
    version: version
  },
  staging2: {
    api_url: 'https://pma-api-staging.herokuapp.com/',
    environment: 'staging',
    version: version
  },
  staging3: {
    api_url: 'https://api.pma2020.org/',
    environment: 'staging',
    version: version
  }
};

const env = env_src.production2;

export default env;
