const env_src = {
  production: {
    api_url: 'http://api.pma2020.org',
    environment: 'production',
    version: '1.0.0',
  },
  production2: {
    api_url: 'https://pma-api.herokuapp.com/',
    environment: 'production',
    version: '1.0.0',
  },
  staging: {
    api_url: 'http://api-staging.pma2020.org',
    environment: 'staging',
    version: '1.0.0',
  },
  staging2: {
    api_url: 'https://pma-api-staging.herokuapp.com/',
    environment: 'staging',
    version: '1.0.0',
  },
};

const env = env_src.production2;

export default env;
