.bfh-selectbox {
  position: relative;
}

.bfh-selectbox .bfh-selectbox-toggle {
  display: inline-block;
  padding: 6px 24px 6px 12px;
  text-decoration: none;
}

.bfh-selectbox .bfh-selectbox-toggle:focus {
  outline: 0;
}

.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option {
  display: inline-block;
  float: left;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bfh-selectbox .bfh-selectbox-toggle .selectbox-caret {
  float: right;
  margin-top: 8px;
  margin-right: -16px;
  margin-left: -10px;
}

.bfh-selectbox .bfh-selectbox-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 90px;
  padding: 5px 0;
  margin: -1px 0 0;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.bfh-selectbox .bfh-selectbox-options.pull-right {
  right: 0;
  left: auto;
}

.bfh-selectbox .bfh-selectbox-options .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.bfh-selectbox .bfh-selectbox-options .bfh-selectbox-filter-container {
  width: 100%;
  padding: 5px;
}

.bfh-selectbox .bfh-selectbox-options ul {
  max-width: 500px;
  max-height: 200px;
  padding: 0;
  margin: 5px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
}

.bfh-selectbox .bfh-selectbox-options ul li > a {
  display: block;
  width: 100%;
  min-height: 26px;
  padding: 3px 20px;
  overflow-x: hidden;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bfh-selectbox .bfh-selectbox-options ul li > a:hover,
.bfh-selectbox .bfh-selectbox-options ul li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.bfh-selectbox .bfh-selectbox-options ul .bfh-selectbox-options-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #999999;
}

.bfh-selectbox .bfh-selectbox-options ul .disabled > a {
  color: #999999;
}

.bfh-selectbox .bfh-selectbox-options ul .disabled > a:hover,
.bfh-selectbox .bfh-selectbox-options ul .disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.bfh-selectbox.open > .bfh-selectbox-options {
  display: block;
}

.bfh-selectbox.open a {
  outline: 0;
}

.pull-right > .bfh-selectbox-options {
  right: 0;
  left: auto;
}

.bfh-selectbox-up .caret,
.navbar-fixed-bottom .bfh-selectbox .caret {
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}

.bfh-selectbox-up .bfh-selectbox-options,
.navbar-fixed-bottom .bfh-selectbox .bfh-selectbox-options {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

@media (min-width: 768px) {
  .navbar-right .bfh-selectbox-options {
    right: 0;
    left: auto;
  }
}

.bfh-googlefonts .bfh-selectbox-options a {
  width: 230px;
  height: 30px;
  text-indent: -9999px;
  background-image: url(../img/bootstrap-formhelpers-googlefonts.png);
}

.bfh-googlefonts .bfh-selectbox-options a:focus {
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  filter: none;
}

.bfh-googlefonts .bfh-selectbox-options .active > a,
.bfh-googlefonts .bfh-selectbox-options .active > a:hover {
  background-color: transparent;
  background-image: url(../img/bootstrap-formhelpers-googlefonts.png);
  background-repeat: no-repeat;
  outline: none;
  filter: none;
}
