#navigation {
  position: static;
  margin-bottom: 35px;
  z-index: 200;
  /* Functionality Styles; No need to change. */
  /* Responsive Navigation Styles */ }
  #navigation ul.menu {
    /* Top Level */
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1;
    list-style: none;
    width: 1016px
  }
  #navigation ul.menu li {
    position: relative;
    float: left;
    margin: 0 0 0;
    text-align: center;
    list-style: none;
    list-style-image: none
  }
  #navigation ul.menu > li.first {
    margin-left: -26px
  }
  #navigation ul.menu li a, #navigation ul.menu li span.nolink {
    /* All Navigation Links */
    display: block;
    height: 34px;
    padding: 8px 24px 9px;
    text-decoration: none;
    color: #55025a
  }
  #navigation ul.menu a.sf-depth-1, #navigation ul.menu span.nolink.sf-depth-1 {
    /* Primary */
    font-size: 1.308em;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px
  }
  #navigation ul.menu a.sf-depth-1.active, #navigation ul.menu a.sf-depth-1:hover, #navigation ul.menu span.nolink.sf-depth-1.active, #navigation ul.menu span.nolink.sf-depth-1:hover {
    background-color: #55025a;
    color: #FFFFFF
  }
  #navigation ul.menu li.sfHover a.sf-depth-1 {
    background-color: #55025a;
    color: #FFFFFF
  }
  #navigation ul.menu li ul {
    /* Secondary */
    position: absolute;
    background: url(../images/nav-arrow.png) 20px top no-repeat transparent;
    width: 250px;
    margin: 0;
    padding: 8px 0px 0px;
    left: -999em;
    top: 36px;
    z-index: 999
  }
  #navigation ul.menu li ul li {
    float: left;
    background: #f1efef;
    position: relative;
    margin: 0;
    padding: 0;
    width: 250px;
    text-align: left
  }
  #navigation ul.menu li ul li.first, #navigation ul.menu li ul li.first a.sf-depth-2 {
    border-radius: 17px 17px 0px 0px;
    -moz-border-radius: 17px 17px 0px 0px;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px
  }
  #navigation ul.menu li ul li.last, #navigation ul.menu li ul li.last a.sf-depth-2 {
    border-radius: 0px 0px 17px 17px;
    -moz-border-radius: 0px 0px 17px 17px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px
  }
  #navigation ul.menu li ul li.firstandlast, #navigation ul.menu li ul li.firstandlast a.sf-depth-2 {
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px
  }
  #navigation ul.menu li ul a.sf-depth-2, #navigation ul.menu li ul span.nolink.sf-depth-2 {
    display: block;
    margin: 0;
    padding: 13px;
    height: auto;
    color: #55025a
  }
  #navigation ul.menu li ul a.sf-depth-2:hover, #navigation ul.menu li ul span.nolink.sf-depth-2:hover {
    color: #0078b5;
    background-color: #d3dfea
  }
  #navigation ul.menu #menu-1712-1 ul {
    /* Two-Column Program Countries dropdown */
    width: 360px
  }
  #navigation ul.menu #menu-1712-1 ul li {
    float: left;
    width: 180px
  }
  #navigation ul.menu #menu-1712-1 ul li a {
    padding: 20px 13px
  }
  #navigation ul.menu #menu-1712-1 ul #menu-1748-1 a {
    padding: 14px 13px 13px
  }
  #navigation ul.menu #menu-1712-1 ul li:nth-child(odd) {
    clear: left
  }
  #navigation ul.menu #menu-1712-1 ul li:first-child, #navigation ul.menu #menu-1712-1 ul li:first-child a.sf-depth-2 {
    border-radius: 17px 0px 0px 0px;
    -moz-border-radius: 17px 0px 0px 0px;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px
  }
  #navigation ul.menu #menu-1712-1 ul li:nth-child(2), #navigation ul.menu #menu-1712-1 ul li:nth-child(2) a.sf-depth-2 {
    border-radius: 0px 17px 0px 0px;
    -moz-border-radius: 0px 17px 0px 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px
  }
  #navigation ul.menu #menu-1712-1 ul li:last-child, #navigation ul.menu #menu-1712-1 ul li:last-child a.sf-depth-2 {
    border-radius: 0px 0px 17px 0px;
    -moz-border-radius: 0px 0px 17px 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 17px;
    -webkit-border-bottom-left-radius: 0px
  }
  #navigation ul.menu #menu-1712-1 ul li:nth-last-child(2), #navigation ul.menu #menu-1712-1 ul li:nth-last-child(2) a.sf-depth-2 {
    border-radius: 0px 0px 0px 17px;
    -moz-border-radius: 0px 0px 0px 17px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 17px
  }
  #navigation ul.menu li li ul {
    /* Tertiary */
    position: static;
    background: #000000;
    padding: 0;
    top: 0;
    z-index: 999
  }
  #navigation ul.menu li li ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 250px
  }
  #navigation ul.menu li li ul a.sf-depth-3, #navigation ul.menu li li ul span.nolink.sf-depth-3 {
    display: block;
    margin: 0;
    padding: 1em
  }
  #navigation ul.menu li li ul a.sf-depth-3:hover, #navigation ul.menu li li ul span.nolink.sf-depth-3:hover {
    color: #0078b5;
    background-color: #d3dfea
  }
  #navigation ul.menu li li ul a.sf-depth-3:before, #navigation ul.menu li li ul span.nolink.sf-depth-3:before {
    content: '+';
    padding-right: 6px
  }
  #navigation .menu li:hover ul ul, #navigation .menu li:hover ul ul ul {
    left: -999em
  }
  #navigation .menu li:hover ul, #navigation .menu li li:hover ul, #navigation .menu li li li:hover ul, #navigation .menu li.sfHover ul {
    left: auto
  }
  @media screen and (max-width: 768px) {
    #navigation {
      position: absolute;
      left: -100%;
      width: 100%;
      z-index: 100;
      border-top: 1px solid #454545;
      z-index: 200;
      background: #55025a
    }
    #navigation ul.menu {
      position: relative;
      width: inherit;
      padding: 0px
    }
    #navigation ul.menu li.sf-depth-1 {
      width: 50%;
      height: auto;
      margin-left: 0px
    }
    #navigation ul.menu li.sf-depth-1:nth-child(2n+1) {
      clear: left
    }
    #navigation ul.menu li.sf-depth-1 a {
      height: 44px;
      padding: 13px 0px 14px;
      color: #FFF;
      border-radius: 0px 0px 0px 0px;
      -moz-border-radius: 0px 0px 0px 0px;
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-bottom-left-radius: 0px
    }
    #navigation ul.menu li.sf-depth-1 a:hover {
      background: #2f0132
    }
    #navigation ul.menu li ul {
      display: none;
      visibility: hidden
    }
  }
  @media screen and (max-width: 480px) {
    #navigation ul.menu li.sf-depth-1 {
      width: 100%;
      clear: left
    }
  }
  #hero-feature {
    position: relative;
    margin: 0 0 15px 0;
  }
  .front #hero-feature #hero-wrap {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .front #hero-feature .views-field-field-slide-image img {
    display: block;
  }
  .front #hero-feature .views-field-nothing {
    position: absolute;
    z-index: 50;
    width: 365px;
    height: 365px;
    top: 80px;
    right: 110px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-top-left-radius: 100%;
    -webkit-border-top-right-radius: 100%;
    -webkit-border-bottom-right-radius: 100%;
    -webkit-border-bottom-left-radius: 100%;
  }
  @media screen and (max-width: 768px) {
    .front #hero-feature .views-field-nothing {
      border-radius: 0% 0% 0% 0%;
      -moz-border-radius: 0% 0% 0% 0%;
      -webkit-border-top-left-radius: 0%;
      -webkit-border-top-right-radius: 0%;
      -webkit-border-bottom-right-radius: 0%;
      -webkit-border-bottom-left-radius: 0%;
      width: 100%;
      height: auto;
      top: auto;
      right: auto;
      left: 0px;
      bottom: 0px;
    }
  }
  .front #hero-feature .slide-caption {
    position: relative;
    top: 80px;
    left: 40px;
    width: 285px;
    text-align: center;
    color: #454545;
    font-size: 1.231em;
  }
  .front #hero-feature .slide-caption h3 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #0078b5;
    font-size: 1.625em;
    text-transform: uppercase;
    text-shadow: 0em 0.1em #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .front #hero-feature .slide-caption p {
    display: block;
    float: left;
    padding: 0;
    line-height: 1.3em;
  }
  .front #hero-feature .slide-caption p.slide-pre-title {
    float: none;
    color: #55025a;
    font-size: 0.875em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
  }
  .front #hero-feature .slide-caption a:hover {
    background-color: #009ae8;
  }
  @media screen and (max-width: 768px) {
    .front #hero-feature .slide-caption {
      text-align: left;
      left: 36px;
      top: 24px;
      width: 600px;
      padding-bottom: 40px;
    }
    .front #hero-feature .slide-caption a {
      margin: 18px 0px 0px;
    }
  }
  @media screen and (max-width: 480px) {
    .front #hero-feature .slide-caption {
      width: 280px;
    }
  }
  .front #hero-feature .views-slideshow-controls-text {
    position: relative;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-pause {
    display: none;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-previous, .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 236px;
    overflow: hidden;
    z-index: 500;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-previous {
    left: 15px;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-previous a {
    background-position: left top;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-previous a:hover {
    background-position: left bottom;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-next {
    right: 15px;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-next a {
    background-position: right top;
  }
  .front #hero-feature .views-slideshow-controls-text .views-slideshow-controls-text-next a:hover {
    background-position: right bottom;
  }
  @media screen and (max-width: 768px) {
    .front #hero-feature {
      overflow: hidden;
    }
  }
  .not-front #hero-feature {
    margin-bottom: 0px;
  }
  .not-front #hero-feature #hero-feature-bg {
    position: absolute;
    top: 40px;
    width: 100%;
    background: url(../images/bg-blue.jpg) top left repeat transparent;
    height: 282px;
  }
  .not-front #hero-feature.empty-hero #hero-feature-bg {
    position: relative;
    top: 0px;
    height: 24px;
  }
  @media screen and (max-width: 768px) {
    .not-front #hero-feature {
      overflow: hidden;
      margin-bottom: 32px;
    }
  }
