.container-fluid {
  margin-bottom: 4em;
}
.btn {
  &.btn-primary {
    background-color: #76b1d7;
  }
}

.charted-dataset h3 {
  padding-bottom:50px;
}

.chart-placeholder h2 {
    color: #55025a;
}

.chart-placeholder img {
    padding:25px;
}

.chart-placeholder p {
    font-size:0.6em;
}

.chart-placeholder ul {
    list-style-type: none;
    font-size:0.6em;
}