<div id='alert-area'>
  <div class='row row-loading'>
    <div class='col-md-10 col-md-offset-1'>
      <div class="alert alert-info text-center" role="alert">
        <i class='fa fa-circle-o-notch fa-spin'></i>
        <strong>Loading</strong>
      </div>
    </div>
  </div>
  <div class='row row-error'>
    <div class='col-md-10 col-md-offset-1'>
      <div class="alert alert-danger text-center" role="alert">
        <i class='fa fa-exclamation-circle'></i>
        <strong>Uh oh!</strong> Something went wrong. Please check your internet connection and try again.
      </div>
    </div>
  </div>
</div>
