<footer id="footer">
  <div id="footer-inner" class="wrap">
    <div class="text-reset">
      <div class="region region-footer">
        <div id="block-block-1" class="block block-block copyright block-even clearfix">
          <div class="block-inner">
            <div class="content">
              <p>
              © 2016 Johns Hopkins University, All Rights Reserved.<br>
              Web Policies, 615 N. Wolfe St, Baltimore, MD 21205<br>
              <a class="bwm" target="_blank" href="http://www.bluewatermedia.com">
                Web Design
              </a> by 
              <a class="bwm" target="_blank" href="http://www.bluewatermedia.com">
                Blue Water Media
              </a>
              </p>
            </div>
          </div>
        </div>
        <div id="block-block-7" class="block block-block footer-ctas block-odd last clearfix">
          <div class="block-inner">
            <div class="content">
                <a id="jhu-bloomberg" class="footer-cta" alt="Johns Hopkins University Bloomberg School of Public Health" target="_blank" href="http://www.gatesinstitute.org/">
                </a>
                <a id="jhu-gwp" class="footer-cta" alt="Johns Hopkins University Global Water Program" target="_blank" href="http://globalwater.jhu.edu/">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
