<header id="header">
  <div id="header-inner" class="wrap">
    <div class="text-reset">
      <a href="/" title="Home" rel="home" id="logo">
        <img src="http://www.pma2020.org/sites/default/files/PMA2020-horizontal-web-tagline.png" alt="Home">
      </a>
      <div id="header-region">
        <div class="region region-header">
          <div id="block-search-form" class="block block-search block-odd first clearfix">
            <div class="block-inner">
              <div class="content">
                <form action="http://www.pma2020.org/about-pma2020" method="post" id="search-block-form" accept-charset="UTF-8">
                  <div>
                    <div class="container-inline">
                      <input title="Enter the terms you wish to search for." onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" type="text" id="edit-search-block-form--2" name="search_block_form" value="Search" size="20" maxlength="128" class="form-text">
                      <input type="submit" id="edit-submit" name="op" value="" class="form-submit">
                      <input type="hidden" name="form_build_id" value="form-XTCd7xt_jsXb0xlx-SUsjEzN0zTy0sVAtBXkZJnrVlM">
                      <input type="hidden" name="form_id" value="search_block_form">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="block-block-13" class="block block-block social-media block-even clearfix">
            <div class="block-inner">
              <div class="content">
                <a class="pma-facebook" target="_blank" href="https://www.facebook.com/GATES.PMA2020">facebook</a>
                <a class="pma-twitter" target="_blank" href="https://twitter.com/PMA2020JHU">twitter</a>    
              </div>
            </div>
          </div>
          <div id="block-menu-menu-secondary-menu" class="block block-menu block-odd last clearfix">
            <div class="block-inner">
              <div class="content">
                <ul class="menu">
                  <li class="first leaf home mid-218"><a href="http://www.pma2020.org/" title="">Home</a></li>
                  <li class="last leaf contact-us mid-519"><a href="http://www.pma2020.org/contact-us">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mobile-nav-button"></div>
    </div>
  </div>
</header>
