<div id='black-and-white-checkbox-container' class='black-and-white-checkbox-container form-group'>
  <h4 class='i18nable-label' data-type='black-and-white'>Black and White:</h4>
  <div class="onoffswitch checkbox-group" disabled='disabled'>
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox filter black-and-white-check" id="dataset_black_and_white" disabled>
    <label class="onoffswitch-label" for="dataset_black_and_white">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
