<div class='form-group'>
  <h4 class='i18nable' data-key='chart type'>
    Chart Type
  </h4>
  <div id="chart-types" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input
           type='radio'
           name='options'
           class='filter'
           checked='checked'
           id='option-bar'
           data-type='bar'
           autocomplete='off'
           />
      <i class='fa fa-bar-chart fa-rotate-90'></i>
    </label>
    <label class="btn btn-primary">
      <input
           type='radio'
           name='options'
           class='filter'
           id='option-column'
           data-type='column'
           autocomplete='off'
           />
      <i class='fa fa-bar-chart'></i>
    </label>
    <label class="btn btn-primary">
      <input
           type='radio'
           name='options'
           class='filter'
           id='option-line'
           data-type='line'
           autocomplete='off'
           />
      <i class='fa fa-line-chart'></i>
    </label>
    <label class="btn btn-primary tooltip-pie-chart">
      <input
           type='radio'
           name='options'
           class='filter'
           id='option-pie'
           data-type='pie'
           autocomplete='off'
           />
      <i class='fa fa-pie-chart'></i>
    </label>
  </div>
</div>
