<div class="modal fade" id='embed-modal' tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Embed PMA2020 Dataset</h4>
      </div>
      <div class="modal-body">
        <p>To embed this dataset and chart into your own site or application copy the code below:</p>
        <pre>
          <%# <%= @dataset.embed_code(request.host_with_port) %> %>
        </pre>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
