<p>
Refer to PMA2020 
<a href="http://pma2020.org/snapshot-indicators">
  Snapshot of Indicators (SOIs)
</a> 
for information about sample sizes for specific estimates. In Household/Female
SOIs, estimates generated from less than 50 unweighted observations are shown
in italics. Estimates generated from less than 25 unweighted observations are
not shown. In SDP SOIs, estimates generated from less than 25 unweighted
observations are shown in italics. Estimates generated from less than 10
unweighted observations are not shown.
</p>
