<div id='jhu-chart'>
  <div class='row top-row'>
    <div class='col-md-3 match-height'>
      <section class='chart-sidebar'>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#controls" aria-controls="controls" role="tab" data-toggle="tab">Controls</a></li>
          <li role="presentation"><a href="#help-center" aria-controls="help-center" role="tab" data-toggle="tab">Definitions</a></li>
          <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="controls">
            <%= partial 'chart_controls' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="help-center">
            <%= partial 'chart_help' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="style">
            <%= partial 'chart_style' %>
          </div>
        </div>
        <div class='clear'></div>
      </section>
    </div>
    <div class='col-md-9 match-height'>
      <section class='chart-viewport'>
        <div id='chart-container' class='chart-container'>
          <div class='chart-placeholder'>
            <h2>Welcome to <strong>PMA DataLab</strong>!</h2>
            <img src='http://www.pma2020.org/sites/default/files/blankchart.gif' alt='Chart image'>
            <p>PMA DataLab is a data visualization tool that allows you to build customized charts and download up-to-date PMA data. Use the left panel to...</p>
            <ul>
            <li>- Choose your language.</li>
            <li>- Select an indicator.</li>
            <li>- Select a categorical variable to break the data into groups.</li>
            <li>- Select any number of datasets to view.</li>
            <li>- Choose your chart type.</li>
            <li>- Download the data or generate the chart.</li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class='text-center'>
            <a href="mailto:datalab@pma2020.org">
              <button type="button" class="btn btn-primary">
                <i class='fa fa-paper-plane-o' aria-hidden='true'></i>
                Questions / Suggestions
              </button>
            </a>
          </h3>
        </div>
      </section>
    </div>
  </div>
</div>
