<p>
Refer to PMA2020 
<a href="http://pma2020.org/snapshot-indicators">
  Snapshot of Indicators (SOIs)
</a> 
for information about sample sizes for specific estimates. In SOIs,
estimates generated from less than 25 unweighted observations are shown in
parentheses. Estimates generated from less than 5 unweighted observations
are shown in parentheses and in italics.
</p>
<p>
PMA2020 uses innovative mobile technology to support low-cost,
rapid-turnaround surveys monitoring key indicators for family planning,
water, sanitation and hygiene and other health and development indicators.
The project is implemented by local university and research organizations
in 10 countries, deploying a cadre of female resident enumerators trained
in mobile-assisted data collection. PMA2020 establishes a sentinel data
collection platform that can be utilized for other health program
areas.
</p>
