<div class='help-center'>
  <p>
  Definitions of selected indicators and disaggregators.
  </p>
  <div class='help-definition indicator'></div>
  <div class='help-definition group-filter'></div>
</div>
