<p>
Refer to PMA2020's 
<a href="http://pma2020.org/snapshot-indicators">
  Snapshot of Indicators (SOIs)
</a> 
for information about sample sizes for specific estimates. In Household/Female SOIs, estimates generated from less than 50 unweighted observations are shown in italics. Estimates generated from less than 25 unweighted observations are not shown. In Service Delivery Point SOIs, estimates generated from less than 25 unweighted observations are shown in italics. Estimates generated from less than 10 unweighted observations are not shown.
</p>
