<div id='overtime-checkbox-container' class='overtime-checkbox-container form-group'>
  <h4 class='i18nable-label' data-type='over-time'>Over-time:</h4>
  <div class="onoffswitch checkbox-group">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox filter overtime-check" id="dataset_overtime" disabled='disabled'>
    <label class="onoffswitch-label" for="dataset_overtime">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
