<div class='row'>
  <div class='col-md-12'>
    <div class='form-group'>
      <label>Label</label>
      <div class="input-group">
        select box for Label
        <span class="input-group-btn">
          Clear button
        </span>
      </div>
    </div>
  </div>
</div>
