<div class='row'>
  <div class='col-md-12'>
    <div class='form-group'>
      <label class='i18nable'><%= label_value %></label>
      <div class="input-group">
        <!-- picker -->
        <select id="select-<%= type %>" class="selectpicker" data-live-search="true"></select>
        <!-- clear button -->
        <span class="input-group-btn">
          Clear button
        </span>
      </div>
    </div>
  </div>
</div>
