<div class='row'>
  <div class='col-md-12'>
    <div class='form-group'>
      <label class='i18nable'><%= label_value %></label>
      <div class="input-group">
        <!-- picker -->
        <% if type == 'language' %>
          <select id="select-<%= type %>" class="selectpicker" data-live-search="true"></select>
        <% else %>
          <select id="select-<%= type %>" class="selectpicker" data-live-search="true" title='Select option'></select>
        <% end %>
      </div>
    </div>
  </div>
</div>
