---
title: PMA 2020 Datalab
---

<div class='container-fluid'>
  <section class="charted-dataset">
    <%= partial 'chart' %>
    <%= partial 'chart_footer' %>
  </section>
  <%= partial 'chart_embed_modal' %>
  <%= partial 'google_analytics' %>
</div>
